{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Nitish Gautam - Curriculum Vitae</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Curriculum Vitae of Joe Bloggs."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/ng-img.JPG'%}" alt="ng-pic" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Nitish Gautam</h1>
			<h2 class="quickFade delayThree">Senior Software Engineer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>e: <a href="mailto:nitish@bloggs.com" target="_blank">nitish@gautamxyz.com</a></li>
				<li>w: <a href="http://www.nitishgautam.com">www.nitishgautamxyz.com</a></li>
				<li>m: 01234567890</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>Nitish Gautam is an experienced, highly motivated personal with technical and interpersonal skill sets along with years of professional experience in software engineering. He also holds a MSc degree in Electrical and Electronics Engineering from a  Russell Group universitiy.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Senior Software Engineer at Company-XYZ</h2>
					<p class="subDetails">June 2012 - Present</p>
					<p><li>Understanding of product/software development life cycle.</li><li>Experience with Agile/ Waterfall/V-Model Software development methodology</li><li>Strong knowledge and experience in Board Support Package (BSP) development for Heterogeneous system (cross-vendor) in bare-metal/RTOS, device drivers (layer 1 protocol/physical layer and low level algorithms)</li><li>ARM (U-boot development / kernel programming / user-space application programming) architectures.</li></p>
				</article>
			</div>
			<div class="clear"></div>
		</section>

		<section>
			<div class="sectionTitle">
				<h1>Domain Knowledge</h1>
			</div>
				<div class="sectionContent">
				<ul class="keySkills">
					<li>Embedded systems</li>
					<li>Web Development</li>
					<li>Machine Learning</li>
					<li>Deep Learning</li>
					<li>Computer Vision</li>
					<li>Project Management</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>

				<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
				<div class="sectionContent">
				<ul class="keySkills">
					<li>Python</li>
					<li>Embedded C</li>
					<li>Software Artitecture</li>
					<li>Django/Flask</li>
					<li>OpenCV</li>
					<li>HTML</li>
					<li>DevOps</li>
					<li>Customer Support</li>
					<li>Product Testing</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>University of BRISTOL</h2>
					<p class="subDetails">MSc. Electrical and Electronics Engineering (Merit)</p>				</article>
				
				<article>
					<h2>University of PUNE</h2>
					<p class="subDetails">BE Electronics and Telecommunication Engineering (Distinction)</p>				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>